#ulNavbar{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image:"" ;
    z-index: 9999;
    position: relative;
    top: 0px;
    width: 100%;
    background-color:black ;
    list-style-type: none;
  }
  
  
  #liNavbar {
    float: left;
   /* border-right: 1px solid #e0e0e0;*/
    width: 20%;
  }
  
  a {
    width: inherit;
  }

  li:last-child {
    border-right: none;
  
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 50px 60px;
    text-decoration: none;
    font-size: 20px;
    width: inherit;
    color: #e0e0e0;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    /*background-color: #0f0f0f;*/
    color: #99ddff;
  }
  
  li.dropdown {
    display: inline-block;
    width: 200px;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color:#0f0f0f;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: #e0e0e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #5b748f;
    width: inherit;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }
    
  #logo {
      height: 80px;
      width: 80px;
      margin-left: 30px;
    }
  
   

   #backToTop {
      color: #99ddff
   }

  