#leftPanel {
	position: fixed;
	margin-top:250px;
	margin-left: 5%;
}

#rightPanel {
	position: fixed;
	margin-top: 250px;
	margin-left: 80%;
}

#midPanel {
		
}

footer {
	width: 100%;
	z-index: 9999;
	text-align: center;
	position: fixed;	
	bottom: 10px;
}

/* CSS Code for the Pricing Page Below */
#P-RightPanel {
  float: right;
	position: relative;
	width: 20%;

}

#P-LeftPanel {
	float: left;
	position: relative;
	width: 20%;
	
}

#P-Table1 {
	position: center;
	width: 60%;
}

#P-Table2 {
	position: center;
	width: 60%;
}

#P-Table3 {
	position: center;
	width: 60%;
}

body {margin: 0px}


#galleryImg {
    height: 400px;
}

button {
	width: 200px;
	height: 100px;
	background-color:#e0e0e0;
}

button:hover {
	background-color: #9ddff6;
}


/* backgrounds */
#darkback{
	color: #e0e0e0;
	 background-color: #19191a

}

#lightback{
	 color:  #19191a;
	 background-color: #e0e0e0

}


/* css of features page */
.fixed-back {
  background-attachment: fixed;
  background-position: center center;
  height: 350px; 
  width: 100%;

}

.b-1 {
  background-image: url('Images/features1.jpg');
}


.b-2 {
  background-image: url('Images/features2.jpg');
}

.b-3 {
  background-image: url('Images/features3.jpg');
}

/* end of css of features page */

